<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ecusp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="ecusp.Perspective"
            id="de.vogella.rcp.intro.view.perspective">
      </perspective>
   </extension>
   
   
   <extension point="org.eclipse.ui.views">
  	<view restorable="true" class="ecusp.MyView" name="name" id="de.vogella.rcp.intro.view.MyView"/>
  </extension>   
  <extension point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension targetID="*">
     <view visible="true" ratio=".95f" minimized="false" relationship="stack" relative="org.eclipse.ui.editorss" id="de.vogella.rcp.intro.view.MyView"/>
   </perspectiveExtension>
 </extension>
</plugin>
